/* Body and section styles */
body {
  margin: 0 0 3em;
}

section {
  max-width: 850px;
  margin: 2.5em auto;
  padding: 0 1em;
}

/* List item styles in section */
section li {
  margin: 0.8em 0;
}

/* Header styles */
header {
  text-align: center;
  margin-bottom: 2em;
}

h1 {
  color: rgb(36, 87, 69); /* Tulane Green */
}

h2 {
  color: rgb(36, 87, 69); /* Tulane Green */
}

/* CSS to center text and images */
.center {
  text-align: center;
}

img.center, figure.center  {
  display: block;
  margin: 2em auto;
  text-align: left;
}

/* Navigation bar style */
nav {
  background-color: hsl(15, 90%, 30%);
  width: 100%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  overflow: auto;
  margin: auto;
  max-width: 850px;
}

nav ul li {
  float: left;
  margin: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  color: white;
}

nav ul li a:hover {
    background-color: hsl(15, 90%, 50%);
  color: black;
}

nav ul li a:active {
    background-color: hsl(15, 90%, 45%); /* a medium-light purple color */
}

nav ul li a.current {
  background-color: rgba(0, 0, 0, 0.6); /* a semi-transparent black */
  color: white;
}

/* Image styles */
img {
  width: 100%;
  height: auto;
}

/* Figure styles */
#MainEdnaJonesPic_figure {
  max-width: 300px;
  height: auto;
}

#LocallyVsGloballyRepDiagram_figure {
  max-width: 600px;
  height: auto;
}

#Teaching20171217_figure {
  max-width: 400px;
  height: auto;
}

#RutgersDay2019Picture_figure {
  max-width: 310px;
  height: auto;
}

figcaption p {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.photocred {
  font-size: 85%;
  font-style: italic;
}
